<div class="container">
    <div class="row">
        <h1>Welcome TravelR!</h1>
    </div>
    <div class="row">
        <p>Merry and well met! If this is your first time visiting our site, let me tell you a little about ourselves.</p>

        <p>TravelR is a platform for users, their friends and family to plan and blog about their journey.</p>
    </div>
    <!-- Have a Breakdown of all the different elements that TravelR does -->
    <div class="row">
        <div class="col-md-3">
        <p>Ready to get started?</p>

        <button><%= link_to 'Sign Up', new_user_path %></button>
        </div>
    </div>
</div>